<h1><a href="www.kaggle.com/devinanzelmo/dota-2-matches">DotA2 Matches dataset</a></h1>

<h2>Описание</h2>
<p>Набор содержит 50000 тысяч матчей ранговых игр. Этот датасет предназначет для оценки поведения игроков, их уровня игры, продолжительности игр, сражений и т.д.</p>
<p>Данные из этого датасета могут использоваться для анализа актуальности выбора определенных героев и предметов, общей модели поведения игроков и девиаций из нее и многого другого. Эти данные полезны, например, при разработке новых обновлений для игры, усовершенствования систем матчмейкинга или наказаний за несоответствующее поведение игроков и прочее.</p>

<div style="padding-left: 2em;">
    <h3>Уточнение для данного задания</h3>
    <p>Для анализа в этом задании выбрана часть датасета с данными по игрокам и героям, на которых они играли конкретный матч. Так как атрибутов получается достаточно много, здесь мы опишем лишь некоторые из них в качестве примера.</p>
</div>

In [11]:
import numpy as np
import pandas as pd

<div style="border: #000000 1px solid; border-radius: 5px; padding: 1em;">
    <h2>Описание выбранных для анализа атрибутов</h2>
    <ul>
        <li> <?--Начало шаблона--?>
            <h4>match_id</h4>
            <table border="1" >
                <tr>
                    <th>Шкала</th>
                    <th>Диапазон/Набор значений</th>
                    <th>Среднее значение/мода</th>
                </tr>
                <tr>
                    <td>фыв</td>
                    <td>фыв</td>
                    <td>фыв</td>
                </tr>
            </table>
        </li> <?--Конец шаблона--?>
    </ul>
</div>

In [26]:
#Данные по игрокам
players = pd.read_csv('dataset/players.csv')

#Уточняющие данные по героям
heroes = pd.read_csv('dataset/hero_names.csv')

#Соединяем две эти выборки, чтобы можно было получить конкретное имя выбранного игроком героя, вместо id
merged = players.merge(heroes, on = ["hero_id"])

#Список атрибутов, которые нас интересуют
attrib = ["match_id", "account_id", "localized_name", "player_slot", "gold_spent",
          "gold_per_min", "gold_death", "gold_buyback", "gold_abandon", "gold_sell", "gold_destroying_structure",
          "gold_killing_heros", "gold_killing_creeps", "gold_killing_roshan", "gold_killing_couriers", "gold_other",
          "xp_per_min", "xp_hero", "xp_creep", "xp_roshan", "xp_other", "kills", "deaths", "assists", "denies",
          "last_hits", "stuns", "hero_damage", "hero_healing", "tower_damage", "level", "leaver_status"]

#Пример выборки
merged[attrib].head()

,match_id,account_id,localized_name,player_slot,gold_spent,gold_per_min,gold_death,gold_buyback,gold_abandon,gold_sell,...,deaths,assists,denies,last_hits,stuns,hero_damage,hero_healing,tower_damage,level,leaver_status
0,0,0,Rubick,0,10960,347,-957.0,NaN,NaN,212.0,...,3,18,1,30,76.7356,8690,218,143,16,0
1,9,0,Rubick,3,8980,232,-4636.0,NaN,NaN,NaN,...,14,15,3,42,89.6253,9757,325,280,16,0
2,16,0,Rubick,1,16285,353,-1856.0,-1641.0,NaN,232.0,...,4,18,5,143,76.9391,8208,0,151,22,0
3,28,159,Rubick,0,10040,331,-1553.0,NaN,NaN,NaN,...,7,16,3,20,37.6628,6273,0,309,15,0
4,37,0,Rubick,2,20355,431,-3203.0,NaN,NaN,1500.0,...,7,23,2,66,77.8224,17818,0,403,25,0